body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}


.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
}

.nav li:first-child {
  padding-left: 100px;
}

.nav .nav-user {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  align-items: center;

}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.divider {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #000;
  line-height:0.1em;
  margin:10px 0 10px
}

.divider span {
  background:#fff;
  padding:0 10px;
}
.avatar {
  height: 100px;
  border-radius: 50px;
  margin: 10px;
}

.nav-avatar {
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  flex-direction: column;

}

.answer-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  flex-direction: column;

}

.question-row {
  display: flex;
  width: 100%;
  flex-direction: row;

}

.question-column {
  display: flex;
  width: 100%;
  flex-direction: column;

}

#newquestion-header {
  align-items: flex-start;
  display: flex;
  margin: 5px;
}

textarea {
  width: 90%;
}

.question-column-left {
  width: 30%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-column-right {
  width: 70%;
  /*height: 100%;*/
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;

}

.question-button {
  width: 100%;
}


.submit-question {
    background-color: greenyellow;
    width: 100%;
}

.answer {
  display: flex;
  border: 2px solid gray;
  border-radius: 5px;
  width: 90%;
  align-self: center;
  height: 30%;
  margin: 20px;
  padding: 5px;
  flex-direction: column;
  background-color: #ddd;
  position: relative;
}

.bar {
  background-color: #697784;
}


.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}


.leaderboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.leaderboard-avatar {
  width: 20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leaderboard-detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leaderboard-score{
  width: 20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*padding: 10px;*/
  /*margin: 0 auto;*/
  /*border: 1px solid #dad7d7;*/
  /*border-radius: 3px;*/
}


.score-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.score-number {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}


.score-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 50%;
  background-color: green;
  color: white;
}


hr {
 border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:gray;
  height: 1px;
}

.vl {
  border-left: 1px solid gray;
  height: 150px;
  margin: 15px;
}



.answer-circle {
  position: absolute;
  top: -21px;
  right: -21px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50%;
  color: white;
  background-color: yellowgreen;
  /*font-size: 14px;*/
  text-align: center;
}




